html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Quicksand', sans-serif;
    overflow-x: auto;
    overflow-y: auto;
}

.p-m-0 {
    padding: 0;
    margin: 0;
}

.full-width {
    width: 100%;
}

.text-color {
    color: #fff;
    text-shadow: 5px 2px 15px #000000;
}

#body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

#upper {
    height: 75vh;
}

#lower {
    height: 25vh;
}

@media only screen and (min-height: 750px) {
    #upper {
        height: 80vh;
    }

    #lower {
        height: 20vh;
    }

    #favoritesDiv {
        padding-top: 6em;
    }

    #timeDiv {
        padding-top: 3em;
    }

}

#favorites {
    text-align: right;
    list-style-type: none;
}

#favouritesHr {
    max-width: 4em;
    margin-top: 0;
}

.links {
    text-decoration: none !important;
    width: 100%;
}

.p5 {
    padding-top: 5px;
}

.links:hover {
    color: #fff;
    text-shadow: 2px 2px 10px #000000;
}

.links:active {
    color: #fff;
    text-shadow: 2px 2px 10px #000000;
}

.links:visited {
    color: #fff;
    text-shadow: 2px 2px 10px #000000;
}

.liFavicon {
    padding-right: 0.2em;
    padding-bottom: 2px;
}

.dateLocation {
    position: relative;
    top: -20px;
}

#settingsTrigger {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.5);
}

.btn:focus {
    outline: none;
}

#todoInputDiv {
    min-height: 7.8em;
}

#todoDiv {
    box-sizing: border-box;
    overflow-y: scroll;
    height: 75vh;
    width: 100%;
}

/* Remove margins and padding from the list */
#todoDiv ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* Style the list items */
#todoDiv ul li {
    text-align: left;
    max-width: 100%;
    word-break: break-all;
    cursor: pointer;
    position: relative;
    padding: 0.6em 2em 0.4em 0.7em;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 1.01em;
    transition: 0.2s;
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Darker background-color on hover */
#todoDiv ul li:hover {
    background: rgba(0, 0, 0, 1);
    color: #000000;
}

/* When clicked on, add a background color and strike out text */
#todoDiv ul li.checked {
    background: rgba(255, 255, 255, 0.6);
    color: #000000;
    text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
#todoDiv ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #000000;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
    color: white;
    z-index: 999;
}

.close:hover {
    color: red;
}

#todoToggleCancelSign {
    color: red;
    font-size: 120%;
    position: relative;
    bottom: 0.15em
}

#todoHeadingToggle {
    padding: 0.8em 0 0 0.6em;
}

#todoHeadingToggle:hover {
    cursor: pointer;
}

/* Style the header */
.header {
    background: rgba(0, 0, 0, 0.5);
    padding: 0.5em 1em 1em 1em;
    color: white;
    text-align: center;
}

#headerHeading {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}

#todoToggleCancelSign:hover {
    cursor: pointer;
}

#addTodo {
    background-color: #000;
    color: #ffffff;
}

/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the input */
input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 0.7em;
    float: left;
}

/* Style the "Add" button */
.addBtn {
    padding: 0.7em;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.addBtn:hover {
    background-color: #bbb;
}

#upperLeftDiv {
    padding-left: 0;
    padding-right: 0;
    height: 75vh;
    /*display: flex;*/
    /*align-items: center;*/
}


#modalDismissCancel{
    color: red;
    font-size: 160%;
    position: relative;
    bottom: 1.55em
}

#modalDismissCancel:hover{
    cursor: pointer;
}

.bgopacity{
    /*background-color: rgba(0,0,0,0.5);*/
}

/*  Custom Checkboxes */

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position: absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}

.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}

.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}

.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

/* HR styles Taken from COdepen*/
hr.customHr {
    border: 0;
    height: 0.06em;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

/* Disable text highlighting */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome and Opera */
}

.modalToggleSettings {
    position: relative;
    top: 0.6em
}